body {
  background-color: orange;
  color: white;
}

#mainContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  grid-template-rows: 50px 00px 0px;
  grid-template-columns: 200px 200px;
}

.link {
  display: flex;
  justify-content: center;
  grid-row: 3;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  color: white;
  background-color: black;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 2vh;
  flex-wrap: wrap;
}

.link:hover {
  background-color: grey;
  border-color: grey;
}

#h1 {
  display: flex;
  margin-left: 80vh;
  margin-top: 30vh;
  font-family: "Press Start 2P", cursive;
}

#multiplayer {
  padding: 15px;
  width: 15.5vh;
  font-size: 14px;
  flex-wrap: wrap;
}

#vsComputer {
  padding: 16px;
  width: 15.5vh;
  font-size: 14px;
}

#copyright {
  display: flex;
  margin-top: 59vh;
  justify-content: center;
  font-weight: bolder;
}
